.tag {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  background: #3490dc;
  margin-bottom: 5px;
  margin-right: 5px;
}

#tag-list li{
  display: inline;
}

#tag-add-button {
  background: #3490dc;
  width: 10vw;
}

.hidden-select {
  display: none;
}

.post {
  border: solid 1px black;
  padding: 15px;

  .description{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.deniedAccess {
  margin-top: 100px;
  text-align: center;
}